<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.mnptest.mnp</key>
		<string>MNP Distribution</string>
	</dict>
	<key>method</key>
	<string>app-store</string>
	<key>signingCertificate</key>
	<string>iPhone Distribution: HAI NGUYEN (S9VSB6SQAS)</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>teamID</key>
	<string>S9VSB6SQAS</string>
</dict>
</plist>
